<!DOCTYPE html>
<html>
<head>
  <title>CaroEmerald</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Home</a></li>
  <li><%= link_to "Photos", photos_path %></li>
  <li><%= link_to "Music", music_path %></li>
</ul>

<%= yield %>

</body>
</html>
